.container{
    width: max-content;
    height: 70px;
    align-items: center;
    margin:0 auto;
    text-align:center;
}

.usersSign{
    position: relative;
    cursor: pointer;
}
.topnavBar{
    margin-top:30px;
    text-align: center;
    margin-bottom: 20px;
}
.link, .logout, a {
    margin-left:30px;
    text-decoration: none;
    
}
.link:hover, .logout:hover,a:hover {
    background-color:darkcyan;
    color: white;
    cursor: pointer;
  }
  
.link:visited, .logout.link:visited, a:visited{
    color:black;
}
  button{
    margin-top: 20px;
    background-color: darkcyan; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    border-right-color: white;
    border-right: 3px;
  }
  .topLogout{
    display: initial;
    border-left: beige;
    margin-left: 150px;
  }
  .imgLogout{
    display: initial;
    margin-left: 20px;
  }
  .logout{
    background-color: darkcyan; 
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    margin-left: 20px;
  }

  .tablink {
    margin-left:50px;
    text-align:center;
    width: fit-content;
    margin: 0 auto;
    
  }

  .contentQ{
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .asks{
    background-color: #E5DDDB;
    margin: 0;
    text-align: initial;
  }
  .tabcontent, .tabcontent2{
    margin-top: 10px;
    margin: 0;
    text-align: initial;
  }
  .tabcontent2{
    border-style: groove;
  }
  li{
    list-style:none;
    border-style: groove;
    margin-top:inherit;
    margin-bottom: 10px;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;  

  }
  .item1 {
    grid-column: 1;
  
  }
  .item2{
    text-align: initial;
    margin-left: 10px;
  }
  .item2 >p, .question >div>p, .item2U>p{
    font-weight: bold;
  }
  
  .question{
    display: inline;
  }
  
  .buttonPull{
    background-color: white;
    color: darkcyan;
    border-style: solid;
    border-color: darkcyan;
  }
  .buttonPull:hover{
    background-color: darkcyan;
    color: white;
  }
  
  .buttonAns{
    background-color: white;
    color: darkcyan;
    border-style: double;
    border-color:darkcyan;
  }
  .buttonAns:hover, .buttonAns::selection, .buttonAns:active{
    background-color: darkcyan;
    color: white;
  }
  .loadingBar{
    background-color:darkcyan;
  }
  .options{
    margin:auto
  }
  .btnSubmitQ{
    width: inherit;
    margin-top: 16px;
  }
 .pResults{
   margin: auto;
   font-weight: bold;
 }
 .divR{
   border-style: groove;
   text-align: center;
 }
 .item1U{
  text-align: initial;
  display: contents;
  
 }
 .item2U{
   padding: inherit;
   border-right-style: solid;
   border-right-width: thin;
 }
 .item3U{
  margin: auto;
  margin-left: 20px;
 }
 span{
   padding: inherit;
 }
 .span2{
   margin-left: 14px;
 }
 .score{
    height: 100px;
    margin-right: 10px;
    text-align: center;
    border-style: groove;
    width: 70px;
 }
 .textScore{
  background: #E5DDDB;
  border-bottom-width: thin;
  border-bottom-style: solid;
 }
 .pointsScore{
  
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: darkcyan;
  font-size: x-large;
 }